<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="/" class="navbar-brand">Brand Guarde</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="new-user" class="nav-link">New User</a>
      </li>

      <li class="nav-item">
        <a routerLink="reviews" class="nav-link">Reviews</a>
      </li>
      <li class="nav-item">
        <a routerLink="new-review" class="nav-link">New Review</a>
      </li>

      <li class="nav-item">
        <a routerLink="restaurants" class="nav-link">Restaurants</a>
      </li>
      <li class="nav-item">
        <a routerLink="new-restaurant" class="nav-link">New Restaurant</a>
      </li>

      <li class="nav-item">
        <a routerLink="chains" class="nav-link">Chains</a>
      </li>
      <li class="nav-item">
        <a routerLink="new-chain" class="nav-link">New Chain</a>
      </li>

      <li class="nav-item">
        <a routerLink="countries" class="nav-link">Countries</a>
      </li>
      <li class="nav-item">
        <a routerLink="new-country" class="nav-link">New Country</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
