<div class="list row">
  <div class="col-md-6">
    <h4>Chains List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let chain of chains; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveChain(chain, i)"
      >
        {{ chain.name }}
      </li>
    </ul>
    <div *ngIf="errors !== ''">
      <p class="alert alert-danger">Something went wrong! Please try again later.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentChain">
      <h4>Chain</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentChain.name }}
      </div>

      <a class="badge badge-warning p-2" routerLink="/chains/{{ currentChain.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentChain">
      <br />
      <p>Please click on a Chain...</p>
    </div>
  </div>
</div>
