<div *ngIf="currentCountry" class="edit-form">
  <h4>Country</h4>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="currentCountry.name"
        name="name"
      />
    </div>
  </form>

  <button class="badge badge-danger mr-2 p-2" (click)="deleteCountry()">
    Delete
  </button>

  <button type="submit" class="badge badge-success p-2" (click)="updateCountry()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentCountry">
  <br />
  <p>Cannot access this Country...</p>
</div>

<div *ngIf="errors !== ''">
  <p class="alert alert-danger">{{ errors }}</p>
</div>
